﻿<div class="jumbotron">
    <h1>Enterprise Web API</h1>
    <hr />
    <div class="row">
        <div>
            <h2>Listing all the Enterprises:</h2>
            <p>Use <b>@ViewBag.GetAll</b> to list all the Enterprises.</p>
            <p>Click <b><a href=@ViewBag.GetAll target="_blank">@ViewBag.GetAll</a></b> to test.</p>
            <br />
        </div>
        <div>
            <h2>Get an Enterprise by ID:</h2>
            <p>Use <b>@ViewBag.GetById</b> to look for an Enterprises by its ID.</p>
            <p>Click <b><a href=@ViewBag.GetByIdExample target="_blank"> @ViewBag.GetByIdExample</a></b> to test.</p>
            <br />
        </div>
        <div>
            <h2>Filter  the Enterprises by type:</h2>
            <p>Use <b>@ViewBag.FilterByType</b> to filter the Enterprises list by type.</p>
            <p>Click <b><a href=@ViewBag.FilterByTypeExample target="_blank"> @ViewBag.FilterByTypeExample</a></b> to test.</p>
            <br />
        </div>
        <div>
            <h2>Filter  the Enterprises by name:</h2>
            <p>Use <b>@ViewBag.FilterByName</b> to filter the Enterprises list by type.</p>
            <p>Click <b><a href=@ViewBag.FilterByNameExample target="_blank"> @ViewBag.FilterByNameExample</a></b> to test.</p>
            <br />
        </div>
        <div>
            <h2>Filter the Enterprises by type and name:</h2>
            <p>Use <b>@ViewBag.FilterByTypeAndName</b> to filter the Enterprises list by type and name.</p>
            <p>Click <b><a href=@ViewBag.FilterByTypeAndNameExample target="_blank"> @ViewBag.FilterByTypeAndNameExample</a></b> to test.</p>
        </div>
    </div>
</div>
